{
  "plugins": [
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "test": "./test",
        "Components": "./components",
        "Static": "./static",
        "~": ".",
      }
    }]
  ],
  "presets": [
          "@babel/preset-env",
          "next/babel"
        ]
}