html {
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    width: 100%;
    --dark-grey: #333333;
    --off-white: #f7f5f0;
    --pastel-red: #f6443d;
    --military-green: #6e7847;
    --mango: #feb523;
    --dark-blue-grey: #143931;
    --camo: #849055;
    --blue: #0343d5;
    --cement: #989993;
    --bleu-officiel: #096aa8;
}

/* ------------------------------------------------------ */

/* Text styles */

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 66px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.03;
    letter-spacing: normal;
    text-align: center;
    color: var(--dark-blue-grey);
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 43px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: var(--mango);
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 31px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.13;
    letter-spacing: normal;
    text-align: center;
    color: var(--dark-blue-grey);
}

h6 {
    font-family: 'Roboto', sans-serif;
    font-size: 31px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: center;
    color: var(--off-white);
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 6.3px;
    text-align: center;
    color: var(--pastel-red);
}

h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: var(--mango);
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #ffffff;
}

.btn {
    text-decoration: none;
    padding: 15px 20px;
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.06;
    letter-spacing: normal;
    text-align: center;
    border: 2px solid var(--bleu-officiel);
    border-radius: 15px;
    transition: all 0.5s ease;
    background-color: var(--bleu-officiel);
    color: white;
    margin: 20px 0;
    cursor: pointer;
}

.btn:hover {
    color: var(--bleu-officiel);
    background-color: white;
}

@media (max-width: 768px) {
    h1 {
        font-size: 45px;
        font-weight: 900;
        line-height: 1.33;
        letter-spacing: normal;
        color: var(--dark-blue-grey);
    }
    h2 {
        font-size: 30px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.9;
        letter-spacing: normal;
        text-align: center;
        color: var(--mango);
    }
    h3 {
        font-size: 25px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.4;
        letter-spacing: normal;
        text-align: center;
        color: var(--dark-blue-grey);
        text-decoration: uppercase;
    }
    h4 {
        font-size: 15px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 4.73px;
        text-align: center;
        color: var(--pastel-red);
    }
    h6 {
        font-size: 25px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.6;
        letter-spacing: normal;
        text-align: center;
        color: var(--off-white);
    }
    p {
        font-size: 17px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.29;
        letter-spacing: normal;
        color: var(--dark-grey);
    }
}